<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tetris battle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">    
    <!-- import the webpage's javascript file -->
    <script src="animationindex.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="client.js" defer></script>
    <!-- import d'une police-->
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet"> 
  </head> 
  
  <body>
    <!-- Menu de la page -->
    <div id= "menu">
      <li><section id = "titre_menu">Tetris Battle!</section></li>
      <li><a href="/" title="">Accueil</a></li>
      <li><a id = "Jouer" title="">Jouer</a></li>
      <li><a id = "connexion/deconnexion" title=""></a></li>
      <li id = "inscrire"></li>
    </div>
    <!-- Fin menu -->
    
    <!-- Boite noire qui contient Titre + animation tetris + bouton jouer -->
    <div id= "tetrisbox">
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      
      <!-- Chargement images pour animation -->
      <img id = "carre" src="https://cdn.glitch.com/1a60ff41-1ec6-408e-a08f-6f08f50d2a51%2Fl.png?v=1583972316464" style="width:50px;height:50px;">
      <img id = "l" src="https://cdn.glitch.com/1a60ff41-1ec6-408e-a08f-6f08f50d2a51%2Fl2.png?v=1583974848396" style="width:70px;height:50px;">
      <img id = "t" src="https://cdn.glitch.com/1a60ff41-1ec6-408e-a08f-6f08f50d2a51%2FT.png?v=1583975654053" style="width:70px;height:50px;">
      <img id = "s" src="https://cdn.glitch.com/1a60ff41-1ec6-408e-a08f-6f08f50d2a51%2Fs.png?v=1583975925078" style="width:70px;height:50px;">
      
      <div id="titre">Tetris Battle!</div>
      <br/><br/>
      <h1><a id = "JOUER">JOUER</a></h1><br/><br/>
      <br/><br/><br/><br/><br/><br/>
    </div>
    <!-- Fin boite noire -->
    
    <!-- Sections présentant les fonctionnalités du site -->
    <div id= "conteneur_box">
     <section id = "conteneur">
       <h1>Jouez à Tetris avec vos amis</h1>
       <h2>Observez le plateau de votre ami en temps réel. La partie s'arrête quand le premier arrive en haut !</h2>
     </section>
    
     <section id = "conteneur2">
       <h1>Comparez vos scores</h1>
       <h2>Regardez les statistiques de vos amis: victoires, défaites et ratio V/D</h2>
     </section>
    
     <section id = "conteneur3">
       <h1>Defiez-vous</h1>
       <h2>Naviguez à travers votre liste d'amis et défiez les !</h2>
     </section>
       <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    <!-- Fin sections présentant les fonctionnalités du site -->
  </body>
  
  <!-- Bas de page -->
  <div id = "footer">
    <h2>
      Site réalisé pour le projet AWS UVSQ 2020
    </h2>
  </div>
  <!-- Fin bas de page -->
  
</html>
