<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tetris battle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">    
    <!-- import the webpage's javascript file -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="client.js" defer></script>
    <!-- import d'une police-->
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet"> 
  </head> 
  
  <body>
    <!-- Menu de la page -->
    <div id= "menu">
      <li><section id = "titre_menu">Tetris Battle!</section></li>
      <li><a href="/" title="">Accueil</a></li>
      <li><a id = "Jouer" title="">Jouer</a></li>
      <li><a id = "connexion/deconnexion" title=""></a></li>
    </div>
    <!-- Fin menu -->
    <div>
      <br/><br/><br/><br/>
    </div>
    
    <div id= "conteneur_profil">
      <script>document.write('<h2>Bonjour '+ sessionStorage.username+ ' </h2>');</script>
      <table>
       <tr>
         <!-- Section amis connectés -->
       <td><section id = "conteneur_AMIS">
         <h1>Amis</h1>
       </section></td>
         <!-- Fin Section amis connectés -->
         <!-- Section statistiques -->
       <td><section id = "conteneur_SCORE">
         <table style= "margin: 0px">
           <td style="padding: 0px 0px 0px;"><h1>Vos statistiques</h1></td><td><input type="button" name="" value="Actualiser" onclick="getStats()"/></td>
         </table>
          <script>document.write('<h1>Score: '+ sessionStorage.score+ ' </h1>');</script>
          <script>document.write('<h1>Victoires: '+ sessionStorage.victoires+ ' </h1>');</script>
          <script>document.write('<h1>Defaites: '+ sessionStorage.defaites+ ' </h1>');</script>
       </section></td>
         <!-- Fin Section statistiques -->
       </tr>
      </table>
      <h3><a id = "solo" title="">Jouer en solo</a></h3>
    </div>
   
    <!-- Bas de page -->
    <div id = "footer">
      <h2>
        Site réalisé pour le projet AWS UVSQ 2020
      </h2>
    </div>
    <!-- Fin bas de page -->
  </body>
</html>
