<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tetris battle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">    
    <!-- import the webpage's javascript file -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js" defer></script>
    <!-- import d'une police-->
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    
  </head> 
  
  <body>
    <!-- Menu de la page -->
    <div id= "menu">
      <li><section id = "titre_menu">Tetris Battle!</section></li>
      <li><a href="/index" title="">Accueil</a></li>
      <li><a id = "connexion/deconnexion" title=""></a></li>
    </div>
    <!-- Fin menu -->
    <br/><br/><br/><br/>
  
    <!-- Espace profil -->
    <div id= "conteneur_profil">
      <h2>Bonjour "pseudo" !</h2>
      <table>
       <tr>
         <!-- Section amis connectés -->
       <td><section id = "conteneur_AMIS">
         <h1>Amis connectés</h1>
       </section></td>
         <!-- Fin Section amis connectés -->
         <!-- Section statistiques -->
       <td><section id = "conteneur_SCORE">
         <h1>Vos statistiques</h1>
       </section></td>
         <!-- Fin Section statistiques -->
       </tr>
      </table>
      
      <h3><a href="jeu.html">Jouer en solo</a></h3>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    <!-- Fin espace profil -->
    
  </body> 
</html>
